* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
/* encabezado de la pagina web */
a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
header {
  background-color: #24a19c;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 5px;
}
.logo {
  /* flexibo, se adapta a la pantalla */
  display: flex;
  align-items: flex-end;
  position: relative;
}
.logo img {
  height: 100px;
}
.logo h2 {
  margin-bottom: 0px;
  margin-right: 100px;
}
nav a {
  font-weight: 600;
  padding-right: 30px;
}
nav a:hover {
  color: #722f37;
}
.sub-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40%;
}
.search {
  display: block;
  flex-direction: row;
  padding:0px;
  margin:0px;
}
.bar-input-search {
  border-radius: 5px;
  border-color: grey;
  margin-right: 6px;
  padding: 7px;
  padding-left: 150px;
}
.bar-button-search {
  border-radius: 5px;
  padding: 7px
}

/* Cuerpo de la pagina web */
main {
  padding: 0px;
  margin: 0px;
  background-color: #722f37;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 650px) {
  /* Encabezado pagina web tablet y celular */
  header {
    flex-direction: column;
    padding: 10px 0px;
    display: flex;
    align-items: center;
  }
  nav {
    margin-top: 10px;
  }
  .sub-header {
    left: 42%;
  }
}
